Django==4.2.1
django-materializecss-form==1.1.17
docstring-parser==0.15
exceptiongroup==1.1.1
Jinja2==3.1.2
jsonschema==3.2.0
kernelstub==3.1.4
numpy==1.24.2
PuLP==2.7.0
pyparsing==2.4.7
uvicorn==0.21.1
