form {
    display: flex;
    flex-direction: column;
    height: 85vh;
    max-width: 80%;
    margin-top: 5vh;
    align-items: center;
    border-radius: 15px;
    justify-content: center;
    background-color: white;
}

body {
    background: #253568 no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0;
}

.button {
    border-radius: 12px;
    position: relative;
    background-color: #253568;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    padding: 20px;
    width: 100px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:after {
    border-radius: 12px;
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}



.button:active:after {
    border-radius: 12px;
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}


input {
    margin-top: 10px;
    width: 65%;
    background-color: rgba(37, 53, 104, 0.8);
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: center;
    border-radius: 8px 8px 8px 8px;
    color: #555555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    color: white;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
    resize: none;
}

input:focus {
    color: rgba(37, 53, 104);
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

label {
    font-size: 20px;
}

textarea {
    margin-top: 10px;
    width: 500px;
    height: 100px;
    background-color: rgba(37, 53, 104, 0.8);
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: center;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    line-height: 1.4em;
    color: white;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
    resize: none;
}


textarea:focus {
    color: rgba(37, 53, 104);
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none;
    /*hide original SELECT element:*/
}

.select-selected {
    background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
    .form-inline input {
        margin: 10px 0;
    }

    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }

    form {
        display: flex;
        flex-direction: column;
        height: 85vh;
        max-width: 100%;
        margin-top: 5vh;
        align-items: center;
        border-radius: 15px;
        justify-content: center;
        background-color: white;
    }
}