{% load static %}
<!doctype html>
<html lang="en">
  <head>  
    <title>Linear Optimization Solver</title>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    {% block css %}
      <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
      <link rel="shortcut icon" href="{% static 'images/icon.png' %}" type="image/x-icon">
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/aaaakshat/cm-web-fonts@latest/fonts.css">
      <style>
        .latex-equation {
          font-family: "Computer Modern Serif", serif;
          font-size: 20px;
          text-align: center;
        }        
        .latex-sub {
          font-family: "Computer Modern Serif", serif;
          font-size: 15px;
          text-align: center;
        }
      </style>
    {% endblock css %}
    </head>
<body >
  {% block javascript %}
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js" integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>

    <script>
      $(document).ready(function() {
        // Add event listener to the input
        $('#objective').on('keydown', function (event) {
            var key = event.key;
            var regex = /^[0-9.+\-]$/.test(key);
            var isAllowed = key === 'Backspace' || key === ' ' || key === 'Enter' || key === 'Tab' || (event.ctrlKey && key === 'a') || (event.ctrlKey && key === 'v') || (event.ctrlKey && key === 'c') || (event.ctrlKey && key === 'x') || regex;
            if (!isAllowed) {
                event.preventDefault();
                return false;
            }
        });
        $('#constraints').on('keydown', function (event) {
            var key = event.key;
            var regex = /^[0-9.<>=+\-]$/.test(key);
            var isAllowed = key === 'Backspace' || key === ' ' || key === 'Enter' || key === 'Tab' || (event.ctrlKey && key === 'a') || (event.ctrlKey && key === 'v') || (event.ctrlKey && key === 'c') || (event.ctrlKey && key === 'x') || regex;
            if (!isAllowed) {
                event.preventDefault();
                return false;
            }
        });
        $('#bounds').on('keydown', function (event) {
            var key = event.key;
            var regex = /^[<>=fredom]$/.test(key);
            var isAllowed = key === 'Backspace' || key === ' ' || key === 'Enter' || key === 'Tab' || (event.ctrlKey && key === 'a') || (event.ctrlKey && key === 'v') || (event.ctrlKey && key === 'c') || (event.ctrlKey && key === 'x') || regex;
            if (!isAllowed) {
                event.preventDefault();
                return false;
            }
        });
        // Add event listener to the submit button
        $('#submitBtn').click(function(event) {
          event.preventDefault(); // Prevent default form submission
        // Show the popup and overlay
          document.querySelector(".modal").style.opacity = 1;
          document.querySelector(".modal").style.pointerEvents = 'auto';
        });

        // Add event listener to the overlay close button
        $('#close').click(function() {
          document.querySelector(".modal").style.opacity = 0;
          document.querySelector(".modal").style.pointerEvents = 'none';
        });
        // Add event listener to the overlay finish button
        $('#finish').click(function() {
          document.querySelector(".modal").style.opacity = 0;
          document.querySelector(".modal").style.pointerEvents = 'none';
        });
        // Add event listener to the alert notification
        $('#submitBtn').click(function(event) {
          event.preventDefault(); // Prevent default form submission
          document.getElementById('alertDiv').style.transform = "translate(0%, 0%)";
          document.getElementById('openbtn').style.opacity = 0;
          document.getElementById("mySidebar").style.transform = "translate(0%, -50%)";
          document.getElementById("main").style.transform = "translate(480%, -50%)";
        });
      });
    </script>
    <script>
      setTimeout(function() {
        document.getElementById('alertDiv').style.transform = "translate(-100%, 0%)";
      }, 2500);
    </script>
  {% endblock javascript %}
    <div class="alert" id="alertDiv">
      <strong>Nhập sai định dạng yêu cầu!</strong>
      <span class="closebtn" onclick="this.parentElement.style.transform = 'translate(-100%, 0%)';">&times;</span> 
    </div>
    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <div class="content">
        <strong style="font-size:20px"> Hướng dẫn cách nhập </strong>
        <ul>
          <li> <strong>Tính chất bài toán:</strong> nhấn vào Minmize/Maximize.</li>
          <li> <strong> Hàm mục tiêu:</strong> nhập hệ số của các biến trên hàm, có bao nhiêu biến nhập bấy nhiêu, biến nào hệ số là 0 nhập 0.</li>
          <li> <strong> Ràng buộc điều kiện:</strong> nhập tương tự như nhập ở hàm mục tiêu, sau đó kèm theo các dấu biểu thức (>=, <=, =) và hệ số b tương ứng.</li>
          <li> <strong> Ràng buộc dấu:</strong> nhập dấu các biến theo thứ tự (>=, <=). Đối với biến tự do chọn một trong 3 cách nhập free, freedom hoặc f. Phải nhập số ràng buộc dấu bằng với số biến hàm mục tiêu.</li> 
        </ul>
      </div>
    </div>
    <div id="main">
      <button class="openbtn" id="openbtn" onclick="openNav()"> <span> ? </span> </button>  
    </div>
    <center>
    <form method="post"> 
        {% csrf_token %}
        <h2>Linear Optimization</h2>
        <div class="wrapper">
        <input type="radio" name="sense" id="option-1" value="min" checked>
        <input type="radio" name="sense" id="option-2" value="max">
          <label for="option-1" class="option option-1">
            <div class="dot"></div>
              <span>Minimize</span>
              </label>
          <label for="option-2" class="option option-2">
            <div class="dot"></div>
              <span>Maximize</span>
          </label>
        </div>
        <label for="objective">Hàm mục tiêu:</label> 
        <input type="text" name="objective" id="objective" placeholder="c1 c2" required>
        <label for="constraints">Ràng buộc điều kiện:</label> 
        <textarea name="constraints" class="textarea" id="constraints" rows="5" placeholder="a11 a12 <= b1&#10;a21 a22 >= b2" required></textarea>
        <label for="bounds">Ràng buộc dấu:</label> 
        <input type="text" name="bounds" id="bounds" placeholder=">= <= (x1 >= 0 and x2 <= 0)" required>
        <input type="submit" class = "button" value="Solve">
    </form>
    </center>
    <div class="modal">
      <div class="popup">
        <button id="close">&times;</button>
        <h2>Results</h2>
        <pre style="font-family:'JetBrains Mono';">{{ prob_str }}</pre>
        <p><strong>Kết quả bài toán:  </strong> <span>{{ lp_status }}</span></p>
        <p><strong>Giá trị tối ưu:  </strong> <span class="latex-equation">{{ sense }}(z) = {{ optimal_value }}</span></p>
        <p><strong>Nghiệm tối ưu:  </strong></p>
        {% for value in variable_values %}
        <span class="latex-equation">x<sub class="latex-sub">{{ forloop.counter }}</sub> = {{ value }}</span><br>
        {% endfor %}
        <a id="finish">Finish</a>
      </div>
    </div>
    <script>
    function openNav() {
      document.getElementById('openbtn').style.opacity = 0;
      document.getElementById("mySidebar").style.transform = "translate(0%, -50%)";
      document.getElementById("main").style.transform = "translate(480%, -50%)";
    }

    function closeNav() {
      document.getElementById("mySidebar").style.transform = "translate(-96%, -50%)";
      document.getElementById("main").style.transform = "translate(15%, -50%)";
      document.getElementById('openbtn').style.opacity = 1;
    }
    </script>
    </body>
    {% if match %}
    <script type="text/javascript">
      $(document).ready(function() {
          document.getElementById('openbtn').style.opacity = 0;
          document.getElementById('alertDiv').style.transform = "translate(0%, 0%)";
          document.getElementById("mySidebar").style.transform = "translate(0%, -50%)";
          document.getElementById("main").style.transform = "translate(480%, -50%)";
      });
    </script>
    {% endif %}

    {% if result %}
    <script type="text/javascript">
      $(document).ready(function() {
          document.querySelector(".modal").style.opacity = 1;
          document.querySelector(".modal").style.pointerEvents = 'auto';
      });
    </script>
    {% endif %}
</html>