{% load static %}
<!doctype html>
<html lang="en">
  <head>  
    <title>Linear Optimization Solver</title>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta property="og:title" content="Linear Optimization Solver &amp; A Project From HCMUS's Students" />
    <meta property="og:type" content="website" />
    <meta property="og:image" href="https://images.vexels.com/media/users/3/268234/isolated/preview/31fd7ceaf4c4e7678c2476ef2b597d25-pi-symbol-math-icon.png" />
    {% block css %}
      <link rel="stylesheet" href="{% static 'materialize.css' %}">
      <link rel="stylesheet" href="{% static 'style.css' %}">
      <link rel="shortcut icon" href="https://images.vexels.com/media/users/3/268234/isolated/preview/31fd7ceaf4c4e7678c2476ef2b597d25-pi-symbol-math-icon.png" type="image/x-icon">
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/aaaakshat/cm-web-fonts@latest/fonts.css">
      <style>
        .latex-equation {
          font-family: "Computer Modern Serif", serif;
          font-size: 20px;
          text-align: center;
        }        
        .latex-sub {
          font-family: "Computer Modern Serif", serif;
          font-size: 15px;
          text-align: center;
        }
      </style>
    {% endblock css %}
    </head>
<body >
  {% block javascript %}
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js" integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>

  <script>
    $(document).ready(function() {
      // Add even listerner for input
      const objective = document.querySelector("#objective");
      objective.addEventListener("keydown", function(event) {
        console.log(event.key);
      });
      // Add event listener to the submit button
      $('#submitBtn').click(function(event) {
        event.preventDefault(); // Prevent default form submission
      // Show the popup and overlay
        document.querySelector(".modal").style.opacity = 1;
        document.querySelector(".modal").style.pointerEvents = 'auto';
      });

      // Add event listener to the overlay close button
      $('#close').click(function() {
        document.querySelector(".modal").style.opacity = 0;
        document.querySelector(".modal").style.pointerEvents = 'none';
      });
      // Add event listener to the overlay finish button
      $('#finish').click(function() {
        document.querySelector(".modal").style.opacity = 0;
        document.querySelector(".modal").style.pointerEvents = 'none';
      });
    });
  </script>
    {% endblock javascript %}
    <!--
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="#input">Input Another Problem</a></li>
      <li><a href="#about">About Us</a></li>
    </ul>
    -->
    <center>
    <form method="post"> 
        {% csrf_token %}
        <h2>Linear Optimization</h2>
        <div class="wrapper">
        <input type="radio" name="sense" id="option-1" value="min" checked>
        <input type="radio" name="sense" id="option-2" value="max">
          <label for="option-1" class="option option-1">
            <div class="dot"></div>
              <span>Minimize</span>
              </label>
          <label for="option-2" class="option option-2">
            <div class="dot"></div>
              <span>Maximize</span>
          </label>
        </div>
        <label for="objective">Hàm mục tiêu:</label> 
        <input type="text" name="objective" id="objective" placeholder="c1 c2" required>
        <label for="constraints">Ràng buộc điều kiện:</label> 
        <textarea name="constraints" class="textarea" id="constraints" rows="5" placeholder="a11 a12 <= b1&#10;a21 a22 >= b2" required></textarea>
        <label for="bounds">Ràng buộc dấu:</label> 
        <input type="text" name="bounds" id="bounds" placeholder=">= <= (x1 >= 0 and x2 <= 0)" required>
        <input type="submit" class = "button" value="Solve">
    </form>
    </center>
    <div class="modal">
      <div class="popup">
        <button id="close">&times;</button>
        <h2>Results</h2>
        <pre>{{ prob_str }}</pre>
        <p><strong>Kết quả bài toán: </strong> {{ lp_status }}</p>
        <p><strong>Giá trị tối ưu:  </strong> <span class="latex-equation">{{ sense }}(z) = {{ optimal_value }}</span></p>
        <p><strong>Nghiệm tối ưu: </strong></p>
        {% for value in variable_values %}
        <span class="latex-equation">x<sub class="latex-sub">{{ forloop.counter }}</sub> = {{ value }}</span><br>
        {% endfor %}
        <a id="finish">Finish</a>
      </div>
    </div>
    </body>
      {% if result %}
  <script type="text/javascript">
    $(document).ready(function() {
        document.querySelector(".modal").style.opacity = 1;
        document.querySelector(".modal").style.pointerEvents = 'auto';
    });
  </script>
  {% endif %}
</html>