form {
    display: flex;
    flex-direction: column;
    height: 95vh;
    max-width: 60%;
    margin-top: 5vh;
    align-items: center;
    border-radius: 25px;
    justify-content: center;
    background-color: white;
    gap: 16px;
    transform: scale(0.75);
}

body {
    background: #4070f4 no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    background-position: center center;
    margin: auto;
    zoom: auto;
}

h2 {
    font-style: bold;
}


.button {
    border-radius: 12px;
    position: relative;
    background-color: #0e4bf1;
    border: none;
    display: block;
    font-size: 18px;
    margin-top: 5px;
    color: #FFFFFF;
    padding: 20px;
    width: 100px;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    outline: none;
}

.button:hover {
    background: #4070f4;
}

.button:after {
    border-radius: 12px;
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}



.button:active:after {
    border-radius: 12px;
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}


label {
    font-size: 20px;
}

textarea {
    width: 500px;
    height: 100px;
    opacity: 0.75;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: center;
    border-width: 2.5px;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
    resize: vertical;
}


textarea:focus {
    color: rgba(37, 53, 104);
    border-color: #4070f4;
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

li a.active {
    background-color: rgba(108, 142, 255, 0.8);
}

input[type="text"] {
    outline: none;
    padding: 5px 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    border: 1.5px solid #C7BEBE;
    border-width: 2.5px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="text"]:valid {
    color: rgba(37, 53, 104);
    border-color: #4070f4;
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

@import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


.wrapper {
    display: inline-flex;
    background: #fff;
    height: 80px;
    width: 400px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 20px 15px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.wrapper .option {
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
}

.wrapper .option .dot {
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
}

.wrapper .option .dot::before {
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #0069d9;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}

input[type="radio"] {
    display: none;
}

#option-1:checked:checked~.option-1,
#option-2:checked:checked~.option-2 {
    border-color: #0069d9;
    background: #0069d9;
}

#option-1:checked:checked~.option-1 .dot,
#option-2:checked:checked~.option-2 .dot {
    background: #fff;
}

#option-1:checked:checked~.option-1 .dot::before,
#option-2:checked:checked~.option-2 .dot::before {
    opacity: 1;
    transform: scale(1);
}

.wrapper .option span {
    font-size: 20px;
    color: #808080;
}

#option-1:checked:checked~.option-1 span,
#option-2:checked:checked~.option-2 span {
    color: #fff;
}

.popup {
    background-color: #ffffff;
    width: 420px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 16px;
    font-family: "Lato", sans-serif;
    display: none;
    text-align: center;
    z-index: 999;
    transition: display 0.3s ease-in-out;
}

.popup button {
    display: block;
    margin: 0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #ffffff;
    background: #03549a;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}

.popup h2 {
    margin-top: -20px;
    font-size: 35px;
    font-weight: 900;
}

.popup p {
    font-size: 18px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
}

.popup strong {
    font-weight: 700;
}

a {
    display: block;
    width: 150px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color: #0f72e5;
    border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 0;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    left: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.5);
}

.overlay.show {
    display: block;
}

/* Mobile Devices */
@media (max-width: 767px) {
    form {
        max-width: 100%;
        border-radius: 0px;
        transform: scale(1);
    }

    h2 {
        font-size: 35px;
    }

    textarea {
        width: 95%;
        height: 75%;
    }

    .wrapper {
        width: 95%;
        border-radius: 15px;
    }

    .wrapper .option {
        margin: 0 5px;
    }

    .popup {
        border-radius: 15px;
        width: 95%;
    }

    .button {
        margin-bottom: 25px;
        height: 35%;
        /* other, unchanged, CSS */
        /* <- changed this */
        align-items: center;
        text-align: center;
    }
}